@font-face {
    font-family: Iosevka;
    font-style: normal;
    font-weight: normal;
    src:url("fonter/iosevka-regular.woff2");
}

@font-face {
    font-family: Iosevka;
    font-style: normal;
    font-weight: bold;
    src:url("fonter/iosevka-bold.woff2");
}

@font-face {
    font-family: Iosevka;
    font-style: italic;
    font-weight: normal;
    src:url("fonter/iosevka-italic.woff2");
}

@font-face {
    font-family: Iosevka;
    font-style: italic;
    font-weight: bold;
    src:url("fonter/iosevka-bolditalic.woff2");
}

body {
    font-family: "Iosevka", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", monospace;
    color: #c5c8c6;
    background-color: #202020;
    max-width: 60rem;
    padding: 1em;
    font-size: 12pt;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}

header {
    color: #81a2be;
}

table {
    width: 100%;
    margin: 1em 0;
}

table, td, th {
    border: none;
    margin: 0 -3px;
    padding: none;
}

table tr td:nth-child(1) {
    text-align: left;
}

table tr td:nth-child(2) {
    text-align: center;
}

table tr td:nth-child(3) {
    text-align: right;
}

h1 {
    text-align: center;
    margin-bottom: 2ex;
}


h2 {
    color: #cc6666;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 1em;
}

h3 {
    color: #81a2be;
    padding-left: 4ex;
}

p {
    padding-left: 8ex;
    padding-top: 0;
    margin-top: 0;
    white-space: pre-wrap;
    hyphens: auto;
    word-wrap: break-word;
}

a {
    color: #c5c8c6;
    font-weight: bold;
    text-decoration: none;
}

a[href*="//"] {
    font-weight: normal;
    text-decoration: underline;
}

a[href^="http://mihle.no/"],
a[href^="https://mihle.no/"],
a[href^="http://www.mihle.no/"],
a[href^="https://www.mihle.no/"] {
    color: #f0c674;
    content: '(1)';
}

a[href*="github.com"]::after {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    padding: 0 0.3em;
    content: "";
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2798%27%20height%3D%2796%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cpath%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M48.854%200C21.839%200%200%2022%200%2049.217c0%2021.756%2013.993%2040.172%2033.405%2046.69%202.427.49%203.316-1.059%203.316-2.362%200-1.141-.08-5.052-.08-9.127-13.59%202.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015%204.934.326%207.523%205.052%207.523%205.052%204.367%207.496%2011.404%205.378%2014.235%204.074.404-3.178%201.699-5.378%203.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283%200-5.378%201.94-9.778%205.014-13.2-.485-1.222-2.184-6.275.486-13.038%200%200%204.125-1.304%2013.426%205.052a46.97%2046.97%200%200%201%2012.214-1.63c4.125%200%208.33.571%2012.213%201.63%209.302-6.356%2013.427-5.052%2013.427-5.052%202.67%206.763.97%2011.816.485%2013.038%203.155%203.422%205.015%207.822%205.015%2013.2%200%2018.905-11.404%2023.06-22.324%2024.283%201.78%201.548%203.316%204.481%203.316%209.126%200%206.6-.08%2011.897-.08%2013.526%200%201.304.89%202.853%203.316%202.364%2019.412-6.52%2033.405-24.935%2033.405-46.691C97.707%2022%2075.788%200%2048.854%200z%27%20fill%3D%27%23fff%27/%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

a:visited {
    color: #f0c674;
    color: #c5c8c6;
}

a:target {
    background-color: #ccc;
}

address {
    font-style: normal;
}

footer {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
